<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @chat %>

<%= render @chat %>

<div id="messages">
  <%= render @chat.messages %>
</div>

<%= render "messages/form", message: @message, chat: @chat %>
